.main {
    background-color: rgb(107, 148, 174);
}

body{
    overflow-x:hidden;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.csvDiv {
    display: flex;
    border: 5px solid black;
    /* width: 100%; */
    height: 50px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.background-green {
    background-color: lightgreen;
}

.border-green {
    border: 5px solid green;
}

.gray {
    background-color: lightgray;
}


.hangman {
    display: flex;
    /* width: 100%; */
    margin-top: 50px;
    justify-content: center;
}

.hangmanTop {
    margin: auto;
    width: 50%;
    border: 3px solid lightgray;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* margin: 40px; */
}


.text {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.newGameButton {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
}


.list1Button {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
}

.list2Button {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
}